<h2><%= "Puppy Name:\n#{@display.name}" %></h2>

<h2>Puppy Name: <%= @display.name %></h2>
<h2>Puppy Breed: <%= @display.breed %></h2>
<h2>Puppy Age: <%= @display.age %></h2>

<h1><%= @display.jump %></h1>


<!-- <h2><%= "Puppy Name:\n#{@display.name}" %></h2>
<h2><%= "Puppy Breed:\n#{@display.breed}" %></h2>
<h2><%= "Puppy Age:\n#{@display.age}" %></h2> -->
